body {
    font-family: 'Merriweather', serif;
    margin: 0;
    overflow-x:hidden;
    text-align: center;
}

h1 { 
    color: #188e9b;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #188e9b;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}
h3 {
    color: #0fabbc;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}
a {
    color: #0fabbc;
}

hr{
   
    border: none;
    border-top: 0.5rem dotted #fc627e;
    margin: 3rem auto 3rem auto;
    width: 5rem;
}

.top-container {
    background-color: #e5f3f7;
    color: #0fabbc;
    padding-top: 10%;
    position: relative;
}

.top-container h2 {
    font-weight: normal;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 5%;
}

.bottom-cloud {
    left: 10%;
    position: absolute;
    top: 40%;
}


.middle-container {
    padding: 2rem 0 2rem 0;
}

.middle-container img { 
    border-radius: 50%;
    display: inline-block;
    padding-top: 0rem;
    width: 25%;
}

.middle-container .profile .profile-image {
    display: block;
    margin: 0 auto;
    width: 15%;
}

.skills {
    margin: 0 auto 0 auto;
    width: 50%;
}

.middle-container .skills .skill-row .description{
    display: inline-block;
    margin: 0 1rem 0 1rem;
    text-align: center;
    vertical-align: top;
    width: 70%;
}

.middle-container .contact-me .btn {
    background-color: #fc627e;
    color: white;
    opacity: 0.8;
    padding: 0.8rem;
    text-decoration: none;
}

.middle-container .contact-me .btn:hover {
    opacity: 1;
}

.middle-container .contact-me .btn:active{
    background-color: #d6526a;
    opacity: 1;
}

.bottom-container {
    background-color: #0fabbc;
    padding: 2rem 0 1rem 0;
}
.bottom-container a {
    color: #e5f3f7;
}
.bottom-container .social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bottom-container .social-links li {
    display: inline-block;
    margin: 0 0.5rem 0 0.5rem;
}
.bottom-container .social-links li:hover {
    background-color: #45bcc9;
}

